.hot-key{
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  &__title{
    margin-top: 1.6em;
    font-size: 1.2em;
    border-bottom: 1px solid;
    font-size: 30px;
    font-weight: normal;
    padding-bottom: .5em;
  }
  &__item{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
  }
}